<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.angry.openeuicc.miuihook">

    <uses-sdk
        android:minSdkVersion="33"
        android:targetSdkVersion="33" />

    <application
        android:allowBackup="false"
        android:extractNativeLibs="false"
        android:hasCode="true"
        android:label="MIUI eSIM Slot Hook"
        android:supportsRtl="false">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Add a slot chooser for MIUI eSIM management and force the selected slot through the LPA stack." />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>

</manifest>
